body {
  background: #F4F4F4;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #FFFFFF;
}
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

/*  Dashboard Sidebar   */
.menu {
  background: #99738E;
  height: 100vh;
  width: 240px;
  position: fixed;
  top: 65px;
  left: 0;
  z-index: 5;
  outline: none;
}
.menu .avatar {
  background: rgba(0, 0, 0, 0.1);
  padding: 2em 0.5em;
  text-align: center;
}
.menu .avatar img {
  width: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #FFEA92;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2);
}
.menu .avatar h2 {
  font-weight: normal;
  margin-bottom: 0;
}
.menu ul {
  list-style: none;
  padding: 0.5em 0;
  margin: 0;
}
.menu ul li {
  padding: 0.5em 1em 0.5em 3em;
  font-size: 0.95em;
  font-weight: 400;
  background-repeat: no-repeat;
  background-position: left 15px center;
  background-size: auto 20px;
  transition: all 0.15s linear;
  cursor: pointer;
}
.menu ul a {
  color: #FFFFFF;
  text-decoration: none;
}
.menu ul li.icon-dashboard {
  background-image: url("../img/gauge.svg");
}
.menu ul li.icon-home {
  background-image: url("../img/home.svg");
}
.menu ul li.icon-log-out {
  background-image: url("../img/log-out.svg");
}
.menu ul li.icon-user {
  background-image: url("../img/user.svg");
}
.menu ul li.icon-plus {
  background-image: url("../img/plus.svg");
}
.menu ul li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.menu ul li:focus {
  outline: none;
}


.property-container{
  margin-bottom: 30px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
}

.property-image{
  position: relative;
  overflow: hidden;
}

.property-image img{
  max-width: 100%;
  width: 100%;
  height: auto;
}

.property-status{
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  width: auto;
  max-width: 70%;
  padding: 5px 10px;
  background: #1B1D2A;
  font-weight: 400;
  color: #FFFFFF;
}

.property-price{
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: auto;
  max-width: 80%;
  padding: 8px 16px;
  background: #F64C72;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
}

.property-price h4{
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 5px;
  font-weight: 400;
}

.property-price small{
  font-size: 13px;
  font-weight: 400;
}

.property-features{
  display: block;
  padding: 5px 10px;
  background: #F64C72;
  color: #fff;
}

.property-features span{
  padding: 2px 5px;
  font-size: 13px;
}

.property-content{
  padding: 10px 15px;
}

.property-content h3 {
  display: block;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  text-transform: capitalize!important;
  color: #F64C72;
}
.property-content h3:hover {
  color: #F64C00;
}
.property-content h3 small {
  display: block;
  margin-top: 10px;
  font-size: 13px;
  font-weight: 400;
  font-style: italic;
}
.property a {
  text-decoration: none;
}
.location::before {
  content: "";
  background-image: url("../img/location.svg");
  padding: 0.5em 1em 0.5em 1.5em;
    background-repeat: no-repeat;
    background-position: left 15px center;
    background-size: auto 20px;
}
.location {
    display: inline-block;
        font-size: 14px;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.property-col {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

  .property-title {
    padding-bottom: 60px;
}
  .property-title h2 {
    color: #F64C72 !important;
    position: relative;
    display: inline;
    padding: 12px 20px;
    font-size: 28px;
    line-height: 32px;
    text-transform: uppercase;
    font-weight: 600;
    border: 2px solid #898ba2;
}
.property-title h2::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    display: block;
    width: 12px;
    height: 12px;
    margin-top: -7px;
    margin-left: -6px;
    background: #898ba2;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
}
.property-title h2::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    display: block;
    width: 30px;
    height: 30px;
    margin-top: -16px;
    margin-left: -15px;
    background: #f4f4f4;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;

}

.table {
    border-spacing: 0;
  border-collapse: collapse;
  background-color: transparent;
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.table-bordered {
    border: 1px solid #DDDDDD;
}

.table > tbody > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
  border: 1px solid #DDDDDD;
}

.single-post {
    background-color: #FFFFFF;
    padding: 30px;
    border: 1px solid #DDDDDD;
  color: #F64C72;
}
.single-post h3 {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 20px;
}
.single-post h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
}
#carousel > .active {
    display: block;
}
#carousel .item img {
    width: 100%;
    max-width: 100%;
    height: auto;
}
#carousel > .item > img {
    line-height: 1;
    display: block;
    width: 100% \9;
    max-width: 100%;
    height: auto;
}


/* Property Carousel  */
div#carousel > div > img {
  display: none;
  /* margin: 0px auto; */
}

div#carousel > div.visible > img {
  display: block;
  width: 100%;
}

/*  Agent Dashboard */
.row .agent-table-body {
color: #000000;
}
.agent-property-top {
border-bottom: none;
margin: 25px 0;
padding: 0;
}
.agent-property-top div {
float: right !important;
}
.agent-property-top div a {
font-size: 15px;
}
.agent-property-top div a:hover {
background: rgba(0,0,0,.5);
}

.agent-table-body {
margin-bottom: 22px;
background-color: #FFFFFF;
border: 1px solid transparent;
border-radius: 5px;
-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
border-color: #DDDDDD;
box-shadow: 0px 3px 5px #E2E2E2E2;
padding: 15px;
}

div.agent-table-filter label {
white-space: nowrap;
font-weight: bold;
}

div.agent-table-filter {
float: right;
margin-bottom: 5px;
}
div.agent-table-filter input {
padding: 12px 20px;
width: 83%;
}
.agent-table {
border-collapse: collapse;
width: 100%;
}

.agent-table td, .agent-table th {
border: 1px solid #DDDDDD;
padding: 8px;
}

.agent-table tr:nth-child(even){background-color: #F2F2F2;}

.agent-table tr:hover {background-color: #DDDDDD;}

.agent-table th {
padding-top: 12px;
padding-bottom: 12px;
text-align: left;
background-color: #F64C72;
color: #FFFFFF;
}

a i.icon-plus {
background-image: url("../img/plus.svg");
padding: 0em 1em 0em 0.2em;
background-repeat: no-repeat;
background-position: left;
}
a i.icon-trash {
background-image: url("../img/trash.svg");
padding: 0.5em 1em 1em 0em;
font-size: 14px;
font-weight: 400;
background-repeat: no-repeat;
background-position: center;
background-size: auto 20px;
}
a i.icon-edit {
background-image: url("../img/edit.svg");
padding: 0.5em 1em 1em 0em;
font-size: 14px;
font-weight: 400;
background-repeat: no-repeat;
background-position: center;
background-size: auto 20px;
cursor: pointer;

}
tr td > a {
  border: 1px solid #DDDDDD !important;
}

/*       Post Property Page         */
.row form.property-post {
color: #000000;
}
.property-row .col-25 {
float: left;
width: 25%;
margin-top: 6px;
}

.property-row .col-75 {
float: left;
width: 75%;
margin-top: 6px;
}

.property-row:after {
content: "";
display: table;
clear: both;
}


@media screen and (max-width: 600px) {
.property-row .col-25, .property-row .col-75, .property-row input[type=submit] {
  width: 100%;
  margin-top: 0;
  padding-right: 10px;
  padding-left: 10px; 
}
.property-row label {
    padding: 12px 12px 12px 0px !important;
  }
}

.property-row input[type=text], .property-row input[type=date], .property-row input[type=file], .property-row input[type=tel], .property-row select, .property-row textarea {
width: 100%;
padding: 12px;
border: 1px solid #ccc;
border-radius: 4px;
resize: vertical;
}

.property-row label {
padding: 12px 12px 12px 50px;
display: inline-block;
font-weight: bold;
}
textarea#property-description {
  height: 200px;
}
.property-row input[type=submit] {
float: right;
width: 150px;
font-weight: 600;
font-size: 16px;
color: #FFFFFF !important;
}
.property-row input[type=submit]:hover {
background: #F64C62;
}

/*           Credit: https://proto.io/freebies/onoff/         */
.onoffswitch {
  position: relative; 
  width: 75px;
  margin: 0 auto;
  -webkit-user-select:none; 
  -moz-user-select:none; 
  -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  border: 2px solid #CCCCCC; border-radius: 20px;
}
.onoffswitch-inner {
  display: block; width: 200%; margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
  font-size: 14px; color: white; 
  font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner::before {
  content: "Sold";
  padding-left: 0px;
  background-color: #F64C72; 
  color: #FFFFFF;
}
.onoffswitch-inner::after {
  content: "Open";
  padding-right: 10px;
  background-color: #EEEEEE; 
  color: #F64C72;
  text-align: right;
}
.onoffswitch-switch {
  display: block; width: 15px; margin: 7.5px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: 41px;
  border: 2px solid #CCCCCC; border-radius: 20px;
  transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px; 
}
/*            End         */

.property-specific-type label {
  color: #F64C72;
  font-weight: bold;
}
.property-specific-type button {
  font-size: 16px;
  margin-bottom: 8px;
  outline: none;
  padding: 15px 22px;
}
.property-specific-type button:active {
  padding: 14px 22px;
}
.property-specific-type button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
@media  (min-width: 421px) and (max-width: 767px){
  .property-specific-type select {
      width: 65vw !important;
  }
}
@media  (max-width: 420px){
  .property-specific-type select {
      width: 75vw !important;
  }
}